---
import Arrondissement from "../components/Arrondissement.astro";
import Section from "../components/Section.astro";
import SectionsContainer from "../components/SectionsContainer.astro";
import Translation from "../components/Translation.astro";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<SectionsContainer>
			<Section>
				<h1 class="translate">DISTRICTS</h1>
				<Arrondissement>1</Arrondissement><Arrondissement>2</Arrondissement><Arrondissement>3</Arrondissement><Arrondissement>4</Arrondissement><Arrondissement>5</Arrondissement>
				<Arrondissement>6</Arrondissement><Arrondissement>7</Arrondissement><Arrondissement>8</Arrondissement><Arrondissement>9</Arrondissement><Arrondissement>10</Arrondissement>
				<Arrondissement>11</Arrondissement><Arrondissement>12</Arrondissement><Arrondissement>13</Arrondissement><Arrondissement>14</Arrondissement><Arrondissement>15</Arrondissement>
				<Arrondissement>16</Arrondissement><Arrondissement>17</Arrondissement><Arrondissement>18</Arrondissement><Arrondissement>19</Arrondissement><Arrondissement>20</Arrondissement>
			</Section>
			<Section>
				<h1 class="translate">DEPARTMENTS</h1>
				<Arrondissement>92</Arrondissement>
				<Arrondissement>93</Arrondissement>
				<Arrondissement>94</Arrondissement>
				<Arrondissement>95</Arrondissement>
			</Section>
			<Section>
				<h1 class="translate">OTHERS</h1>
				<Arrondissement>Mobile</Arrondissement>
			</Section>
		</SectionsContainer>
		<SectionsContainer>
			<Section>
				<div class="translate" id="affichage">DEFAULT_TEXT</div>
			</Section>
		</SectionsContainer>
		<SectionsContainer>
			<div id="arrondissement-stations"></div>
		</SectionsContainer>
	</body>
	<footer>
		<Translation />
	</footer>
</html>

<script>
	const API_URL = "https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/velib-disponibilite-en-temps-reel/records";
	let datas: Array<any> = [];

	async function GetDatas(limit=20, offset=0) {
		limit = Math.min(Math.max(limit, 0), 100);
		offset = Math.min(Math.max(offset, 0), 9_999);
		const response = await fetch(`${API_URL}?limit=${limit}&offset=${offset}`);
		const datas = await response.json();
		return datas.results || [];
	}

	async function UpdateAllStations() {
		let offset = 0;
		let allResults = [];
		let hasMore = true;

		try {
			while (hasMore) {
				let results = await GetDatas(100, offset);
				allResults.push(...results);

				if (results.length < 100) hasMore = false;
				else offset += 100;
			}

			datas = allResults;
			console.log(`Vélib : ${datas.length} stations chargées`);
			console.log(datas);
		} catch (error) {
			console.error("Erreur lors du chargement des données Vélib :", error);
		}
	}

	UpdateAllStations().then(() => Ready());
	setInterval(UpdateAllStations, 30_000);

	async function GetDatasFromOneStation(stationIndex: number) {
		if (0 > stationIndex || stationIndex >= datas.length) return null;

		return datas[stationIndex];
	}
	
	function Ready() {
		AfficheDatas();
	}

	async function AfficheDatas() {
		const AFFICHAGE = document.getElementById("affichage");
		if (!AFFICHAGE) return;

		GetDatasFromOneStation(1).then(data => {
			if (!data) return;
			AFFICHAGE.innerHTML = data.name;
		})
	}
</script>