---
import Translation from "../components/Translation.astro";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div class="translate" id="affichage">DEFAULT_TEXT</div>
	</body>
	<footer>
		<Translation />
	</footer>
</html>

<script>
	const API_URL = "https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/velib-disponibilite-en-temps-reel/records";
	let datas: Array<any> = [];

	async function GetDatas(limit=20, offset=0) {
		limit = Math.min(Math.max(limit, 0), 100);
		offset = Math.min(Math.max(offset, 0), 9_999);
		const response = await fetch(`${API_URL}?limit=${limit}&offset=${offset}`);
		const datas = await response.json();
		return datas.results || [];
	}

	async function UpdateAllStations() {
		let offset = 0;
		let allResults = [];
		let hasMore = true;

		try {
			while (hasMore) {
				let results = await GetDatas(100, offset);
				allResults.push(...results);

				if (results.length < 100) hasMore = false;
				else offset += 100;
			}

			datas = allResults;
			console.log(`Vélib : ${datas.length} stations chargées`);
		} catch (error) {
			console.error("Erreur lors du chargement des données Vélib :", error);
		}
	}

	UpdateAllStations();
	setInterval(UpdateAllStations, 30_000);

	async function GetDatasFromStation(stationIndex: number) {
		return GetDatas(1, stationIndex).then(datas => {
			console.log(datas);
			if (datas.total_count >= 1) return datas.results[0];
			else return null;
		});
	}

	async function AfficheDatas() {
		const AFFICHAGE = document.getElementById("affichage");
		if (!AFFICHAGE) return;

		GetDatasFromStation(9999).then(data => {
			if (!data) return;
			AFFICHAGE.innerHTML = data.name;
		})
	}

	AfficheDatas()
</script>