---
import Arrondissement from "../components/Arrondissement.astro";
import Section from "../components/Section.astro";
import SectionsContainer from "../components/SectionsContainer.astro";
import Translation from "../components/Translation.astro";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<SectionsContainer>
			<Section>
				<h1 class="translate">DISTRICTS</h1>
				<Arrondissement dept="1" /><Arrondissement dept="2" /><Arrondissement dept="3" /><Arrondissement dept="4" /><Arrondissement dept="5" />
				<Arrondissement dept="6" /><Arrondissement dept="7" /><Arrondissement dept="8" /><Arrondissement dept="9" /><Arrondissement dept="10" />
				<Arrondissement dept="11" /><Arrondissement dept="12" /><Arrondissement dept="13" /><Arrondissement dept="14" /><Arrondissement dept="15" />
				<Arrondissement dept="16" /><Arrondissement dept="17" /><Arrondissement dept="18" /><Arrondissement dept="19" /><Arrondissement dept="20" />
			</Section>
			<Section>
				<h1 class="translate">DEPARTMENTS</h1>
				<Arrondissement dept="92" />
				<Arrondissement dept="93" />
				<Arrondissement dept="94" />
				<Arrondissement dept="95" />
			</Section>
		</SectionsContainer>
		<SectionsContainer>
			<Section>
				<div class="translate" id="current-station">DEFAULT_TEXT</div>
			</Section>
		</SectionsContainer>
		<SectionsContainer>
			<Section>
				<div id="arrondissement-stations"></div>
			</Section>
		</SectionsContainer>
	</body>
	<footer>
		<Translation />
	</footer>
</html>

<script>
	const API_URL = "https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/velib-disponibilite-en-temps-reel/records";
	let datas: Array<any> = [];

	async function GetDatas(limit=20, offset=0) {
		limit = Math.min(Math.max(limit, 0), 100);
		offset = Math.min(Math.max(offset, 0), 9_999);
		const response = await fetch(`${API_URL}?limit=${limit}&offset=${offset}`);
		const datas = await response.json();
		return datas.results || [];
	}

	async function UpdateAllStations() {
		let offset = 0;
		let allResults = [];
		let hasMore = true;

		try {
			while (hasMore) {
				let results = await GetDatas(100, offset);
				allResults.push(...results);

				if (results.length < 100) hasMore = false;
				else offset += 100;
			}

			datas = allResults;
			console.log(`Vélib : ${datas.length} stations chargées`);
			console.log(datas);
		} catch (error) {
			console.error("Erreur lors du chargement des données Vélib :", error);
		}
	}

	UpdateAllStations().then(() => Ready());
	setInterval(UpdateAllStations, 30_000);

	async function GetDatasFromOneStation(stationIndex: number) {
		if (0 > stationIndex || stationIndex >= datas.length) return null;

		return datas[stationIndex];
	}
	
	function Ready() {
		document.querySelectorAll(".arrondissement").forEach(dept => {
			let input = dept.querySelector("input");
			if (input) input.onclick = () => AfficheDatasInDepartmentSection(GetStationsByDepartment(dept.id));
		})

		AfficheDatasInDepartmentSection(datas.slice(0, 5));
	}

	function AfficheDatasOfOneStation(station: any) {
		const CURRENT_STATION = document.getElementById("current-station");
		if (!CURRENT_STATION) return;

		CURRENT_STATION.innerHTML = "";
		CURRENT_STATION.innerHTML = `
		code : ${station.stationcode}<br>
		nom : ${station.name}<br>
		arrondissement : ${GetDepartment(station)}<br>
		ville : ${station.nom_arrondissement_communes}<br>
		ouvert : ${station.is_installed}<br>
		capacité : ${station.capacity}<br>
		vélos disponibles : ${station.numbikesavailable}<br>
		attaches disponibles : ${station.numdocksavailable}<br>
		carte bleue : ${station.is_renting}<br>
		`
	}

	function AfficheDatasInDepartmentSection(stations: Array<any>) {
		const ARRONDISSEMENT_STATIONS = document.getElementById("arrondissement-stations");
		if (!ARRONDISSEMENT_STATIONS) return;
		
		ARRONDISSEMENT_STATIONS.innerHTML = "";
		for (let i = 0; i < stations.length; i++) {
			let station = stations[i];
			let elem = document.createElement("div");
			elem.innerHTML = `${station.stationcode} ${station.name} ${station.is_renting} ${station.is_installed}<br>`;
			elem.onclick = () => AfficheDatasOfOneStation(station);
			ARRONDISSEMENT_STATIONS.appendChild(elem);
		}
	}

	function GetDepartment(station: any) {
		let dept;
		if (station.code_insee_commune == "75056") dept = station.stationcode.length === 5 ? station.stationcode.slice(0, 2) : station.stationcode.slice(0, 1);
		else dept = station.code_insee_commune.slice(0, 2);

		return dept;
	}
	
	function GetStationsByDepartment(department: string) {
		return datas.filter(station => GetDepartment(station) == department);
	}
</script>